.filter-block {
    width: 300px;
    background-color: #B7E9EB;
    border-radius: 15px;
    padding-left: 20px;
    padding-bottom: 30px;

    h2 {
        font-family: Montserrat;
        font-weight: bold;
        font-size: 18px;
        padding-top: 30px;
    }

    .container1 {
        width: 260px;
        height: 84px;
        overflow-y: scroll;
        font-family: Roboto;
        font-size: 16px;

        input {
            font-family: Roboto;
            font-style: normal;
            font-size: 14px;
            height: 15px;
            width: 15px;
            margin-right: 5px;
        }
    }

    button {
        padding: 6px 20px;
        border: none;
        border-radius: 3px;
        background-color: #131212;
        margin-top: 20px;

        font-family: Montserrat;
        font-weight: bold;
        font-size: 18px;
        color: #fff;
    }
}
