.car-block {
    width: 755px;
    height: 300px;
    background: linear-gradient(269.31deg, #B7E9EB 0.59%, rgba(88, 166, 169, 0.91) 99.27%);
    border-radius: 15px;

    .car-content {
        height: 100%;
        display: flex;
        align-items: center;



        .car-image {
            width: 600px;
            height: 200px;
            display: flex;
            flex-direction: column;

            img {
            }
        }

        .car-text {

            p {
                font-family: Montserrat;
                font-weight: 500;
                font-size: 18px;
                margin: 6px 0;
            }

            width: 80%;
            margin: 0 auto;
            padding-right: 30px;

            h2 {
                font-family: Montserrat;
                font-weight: bold;
                font-size: 24px;
            }

            .car-price {
                background-color: #02AAB0;
                font-family: Montserrat;
                font-weight: bold;
                font-size: 18px;
                padding: 8px 10px;
                text-align: center;
                color: #fff;
                border-radius: 3px;
                width: 110px;
                margin-bottom: 15px;
            }

            .data-row {
                display: flex;

                p:first-child {
                    width: 76%;
                    padding-left: 10px;
                }
            }

            .data-row:nth-child(even) {
                background-color: #E9FEFF;
                border-radius: 3px;
            }
        }
    }
}
